*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans 24pt';
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

/* =================================Header======================== */
header {
    padding-top: 2px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
    max-width: calc(100% - 24px);
    margin: 0px auto;
}

.email-logo .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    margin-left: 1px;
}

.email-logo .email {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36364;
    text-decoration-line: underline;
}

ul.main-menu {
    display: flex;
    align-items: center;
    margin-left: -21.5px;
    margin-right: -21.5px;
}

ul.main-menu a {
    padding: 8px 21.5px;
    text-align: center;
    transition: color 0.25s;

}

ul.main-menu a:hover {
    color: #5D3BEE;
    font-weight: 600;

}

ul.main-menu a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}