*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #5D3BEE;
    --text-color: #51586A;
    --heading-color: #080415;
}

html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'DM Sans 24pt';
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #000;
    display: inline-block;
}

.btn {
    display: inline-block;
    width: 17rem;
    padding: 16px 0px;
    text-align: center;
    background: #5D3BEE;
    outline: none;
    border: transparent;
    color: #FDFDFD;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.66667;
}

.main-paragraph-style {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

/* =================================Header======================== */
header {
    background: #FBFAFF;
    padding-top: 2px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
    max-width: calc(100% - 24px);
    margin: 0px auto;
}

.email-logo .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid rgba(93, 59, 238, 0.2);
    border-radius: 50%;
    margin-right: 10px;
}

.email-logo .email {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36364;
    text-decoration-line: underline;
}

ul.main-menu {
    display: flex;
    align-items: center;
    margin-left: -21.5px;
    margin-right: -21.5px;
}

ul.main-menu a {
    padding: 8px 21.5px;
    text-align: center;
    transition: color 0.25s;

}

ul.main-menu a:hover {
    color: #5D3BEE;
    font-weight: 600;

}

ul.main-menu a::before {
    display: block;
    content: attr(title);
    font-weight: 600;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
}

/* =========================Hero============================= */
.hero {
    padding: 44px 0px 38px;
    background: #FBFAFF;
}

.hero .container {
    padding-left: 0px;
    padding-right: 0px;
}

.hero__pic {
    width: 514px;
    height: 705px;
}

.hero__pic img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero .box {
    display: flex;
    justify-content: space-between;
    gap: 0px 165px;
}

.hero__content {
    margin-top: 137px;
}

.hero__title {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    letter-spacing: -0.32rem;
    min-height: 164px;
}

.hero__desc {
    width: min(370px, 100%);
    margin: 20px 0px 50px;
}

.my-work {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    text-decoration-line: underline;
}

.hero__follow {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.follow__text {
    color: #51586A;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
}

.follow__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}